body {
    padding: 0;
}

* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

a {
    color: #E5E7EB;
}

h1,
h2 {
    color: #F9FAF8;
}

h1 {
    font-size: 24px;
    margin-right: auto;
}

h2 {
    font-size: 48px;
}

header {
    height: 64px;
    padding: 0 10%;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    gap: 24px;
}

.hero {
    background-color: #1F2937;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

