body {
    padding: 0;
}

* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

a,
.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

h1,
h2 {
    color: #F9FAF8;
}

h1 {
    font-size: 24px;
    margin-right: auto;
}

h2 {
    font-size: 48px;
}

header {
    height: 64px;
    padding: 0 15%;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    gap: 24px;
}

.hero {
    background-color: #1F2937;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-text {
    max-width: 450px;
}

.hero-text p {
    margin: 8px 0;
}

.information-title {
    font-size: 36px;
    color: #1F2937;
}

.information {
    height: 450px;
    padding: 36px 0;
    text-align: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    gap: 2%;
}

.card {
    flex-basis: 200px;
}

.card img {
    width: 150px;
    height: 150px;
}